<h1><%= @post.title %></h1>

<!-- Show the list of tags -->
<p>Tags: <%= @tags_string %>


<p><%= @post.body %>

<h2>Actions</h2>

<% if current_user %>
  <!-- ACTIONS -->
    <p><%= button_to "Edit", edit_post_path(@post), method: :get %>
    <p><%= button_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
  <p>
  <!-- FAVOURITE SECTION -->
  <!-- If there is a record in the Favourite model -->
  <% if @favourite %>
    <%= link_to "Remove from your Favourites", post_favourite_path(@post,@favourite), method: :delete %>
  <!-- If there is no record -->
  <% else %>
    <%= link_to "Add to Favourites", post_favourites_path(@post), method: :post %>
  <% end %>
<% else %>
  <p>You must sign in to edit or delete this post, or to add this as a favourite.
<% end %>


<div class="clear"></div>


<!-- COMMENTS - CREATE -->

<h2>Add a Comment</h2>

<% if current_user %>
  <div id="form-comment">
    <%= render "/comments/form" %>
  </div>
<% else %>
  <p>You must log in to add a comment</p>
<% end %>

<h2>Comments</h2>

<!-- COMMENTS - DISPLAY -->
<table id="list-comments">
<% @post.comments.order(created_at: :desc).each do |item| %>
  <%= render partial: "/comments/comment", locals: {item: item} %>
<% end %>
</table>