<!DOCTYPE html>
<html>
<head>
  <title>PixelMonster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400|Roboto+Condensed:300italic,400italic,700italic,700,300,400', media: 'all', 'data-turbolinks-track' => true %>

<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400|Roboto+Condensed:300italic,400italic,700italic,700,300,400' rel='stylesheet' type='text/css'> -->

  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cousine:400,700,400italic,700italic', media: 'all', 'data-turbolinks-track' => true %>

<!-- <link href='http://fonts.googleapis.com/css?family=Cousine:400,700,400italic,700italic' rel='stylesheet' type='text/css'> -->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:notice] || flash[:alert] %>

<div id="bar-header">
  | 
  <%= link_to "Home", root_path %> |
  <%= link_to "About", about_path %> |
  <%= link_to "Blog Posts", posts_path %> |
  <%= link_to "Create New Post", new_post_path %> |

  <% if user_signed_in? %>
  <!-- current_user is a method from Devise -->
    Welcome <%= current_user.name_display %> |
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Log In", new_user_session_path %> |
    <%= link_to "Register", new_user_registration_path %>
  <% end %> |
</div>

<hr>
<% if user_signed_in? %><%= current_user.class %><% end %>

<div id="container">

  <!-- link_to "Profile", profile_path(@profile)
# => <a href="/profiles/1">Profile</a> -->


  <%= yield %>

</div>

</body>
</html>
